h1 {
  font-size: 35px;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 0.0025em;
  line-height: 45px;
  margin: 0;
  padding: 0;
}

p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.0025em;
  margin: 0;
  padding: 0;
}

button {
  font-size: 15px;
  font-family: Poppins;
  font-weight: 300;
  letter-spacing: 0.0025em;
}
