.interogation_wrapper {
  width: 100%;
  height: 100vh;

  .sub_container {
    width: 80%;
    border: 2px solid rgba(98, 221, 221, 0.171);
    padding: 5px 40px;
    border-left: 0px;
    margin: auto;
    background-color: rgba(147, 180, 180, 0.733);
    border-right: 0px;
    -webkit-box-shadow: 3px -1px 70px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px -1px 70px -26px rgba(0, 0, 0, 0.75);
    box-shadow: 3px -1px 70px -26px rgba(0, 0, 0, 0.75);
    border-radius: 20px;

    .header {
      width: 100%;
      text-align: center;
      color: whitesmoke;
      h1 {
        font-size: 30px;
      }
      p {
        font-weight: 300;
      }
    }
    .flex {
      display: flex;
      width: 100%;
      img {
        position: relative;
        top: 6px;
      }

      .question_container {
        .sub_question_container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;
          .each_question {
            border: 1px solid white;
            width: 80%;
            padding: 10px 20px;
            border-radius: 5px;
            margin-top: 20px;
            p {
              color: rgba(8, 24, 24, 0.733);
            }
            .options_container {
              display: flex;
              margin-top: 10px;
              .options {
                font-size: 15px;
                font-family: Poppin;
                font-weight: 300;
                display: flex;
                margin-right: 50px;
                span {
                  font-size: 15px;
                  font-family: Poppin;
                  font-weight: 300;
                  width: 20px;
                  color: rgba(8, 24, 24, 0.733);
                }
                .ticking_box {
                  width: 20px;
                  height: 20px;
                  border: 1px solid white;
                  border-radius: 50px;
                  margin-left: 5px;
                }
              }
            }
          }
        }

        button {
          border: 1px solid rgba(98, 221, 221, 0.733);
          padding: 10px 0px;
          margin-top: 20px;
          border-radius: 5px;
          background-color: transparent;
          background-color: rgba(8, 24, 24, 0.733);
          color: white;
          width: 97.5%;
        }
      }
    }
  }
}
